<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>编辑学生</h1>
<form action="/edit_student/?nid={{ current_student_info.id }}" method="post">
    <p>学生姓名 <input type="text" name = "sname" value="{{ current_student_info.sname }}"></p>
    <p>
        所属班级
        <select name="class_id" id="">
            {% for row in class_list %}
                {% if row.id == current_student_info.class_id %}
                    <option selected value="{{ row.id }}">{{ row.name }}</option>
                {% else %}
                    <option value="{{ row.id }}">{{ row.name }}</option>
                {% endif %}

            {% endfor %}
        </select>
    </p>


    <input type="submit" value="提交">
</form>

</body>
</html>