<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>

<div style="background-color: red;">
    <div class="col-lg-1">左边</div>
    <div class="col-lg-11">右边</div>
</div>
<div style="background-color: red;">
    <div class="col-md-1">左边</div>
    <div class="col-md-11">右边</div>
</div>
<div style="background-color: red;">
    <div class="col-sm-1">左边</div>
    <div class="col-sm-11">右边</div>
</div>
<div style="background-color: red;">
    <div class="col-xs-1">左边</div>
    <div class="col-xs-11">右边</div>
</div>
</body>
</html>